---
import Section from "../ui/elements/Section.astro";
---

<!-- Video Tutorial Section -->
<Section nameSection="video" BgAcent={true}>
    <h2 class="text-3xl font-bold mb-8 text-gray-200">Video Tutorial</h2>
    <figure class="bg-[#333] p-4 rounded-lg">
      <!-- Inserta aquí el código del reproductor de video o el enlace al video tutorial -->
      <figcaption class="text-gray-300">
        Inserta aquí el reproductor de video o el enlace al video tutorial
      </figcaption>
    </figure>
  </div>
</Section>
