---
import { GIT_OWNER_LINK } from '../consts';
---
<!-- Footer -->
<footer class="bg-[#1d1d1d] text-center py-8">
  <div class="container mx-auto">
    <p class="text-gray-300">Released under the GPL V3.0 License.</p>
    <p>Copyright © 2024 <a target="_blank" href={GIT_OWNER_LINK}>Aziel Cruzado</a></p>
  </div>
</footer>
